<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Search text</span>
  <input type="text" class="form-control" placeholder="Search text" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Geo tag</span>
  <input type="text" class="form-control" placeholder="Geo tag" aria-describedby="basic-addon1">
</div>

{{outlet}}
